<div class="update-employee-container">
  <mat-card class="update-employee-card">
    <h2 class="form-title">Update Employee</h2>

    <form [formGroup]="updateForm" (ngSubmit)="onSubmit()">

      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Name</mat-label>
        <input matInput placeholder="Enter name" formControlName="name">
        @if (updateForm.get('name')?.invalid && updateForm.get('name')?.touched) {
          <mat-error>Name is required</mat-error>
        }
      </mat-form-field>

      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Email</mat-label>
        <input matInput type="email" placeholder="Enter email" formControlName="email">
       @if (updateForm.get('email')?.invalid && updateForm.get('email')?.touched) {
        <mat-error>Invalid email address</mat-error>
      }
      </mat-form-field>

      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Mobile</mat-label>
        <input matInput placeholder="Enter mobile number" formControlName="mobile">
        @if (updateForm.get('mobile')?.invalid && updateForm.get('mobile')?.touched){
          <mat-error>Mobile number is required</mat-error>
        }
      </mat-form-field>

      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Department</mat-label>
        <input matInput placeholder="Enter department" formControlName="department">
        @if(updateForm.get('department')?.invalid && updateForm.get('department')?.touched){
          <mat-error>Department is required</mat-error>
        }
      </mat-form-field>

      <div class="button-group">
        <button mat-raised-button color="primary" class="update-btn" type="submit" [disabled]="updateForm.invalid">
          <mat-icon>update</mat-icon> Update
        </button>

        <button mat-stroked-button color="accent" class="gotoDashboard-btn" routerLink="/dashboard">
          <mat-icon>dashboard</mat-icon> Dashboard
        </button>
      </div>

      @if(message){
        <p class="message">{{ message }}</p>
      }
      
    </form>
  </mat-card>
</div>
